.order-success,
.order-error {
padding: 0;
  padding-bottom: 122px;

  text-align: center;
  margin:  auto;
}

.success-lottie {
  height: 200px;
}
.error-lottie{
    height: 200px;
}


.order-success a {
    color:var(--secundary-color); 
    margin: 8px 0;
    display: inline-block;
}


.order-error a {
    color:rgb(240, 148, 148); 
    margin: 8px 0;
    display: inline-block;
}


/*my orders */

.orders .item-container{
  display: grid;
  grid-template-columns: 1fr auto auto 100px;
  grid-gap: 32px;

  padding: 16px 0;

  align-items: center;

  color: #444;
}

.orders .item-container:hover{
  background: #eee;
}

.orders .item {
  display: flex;
}
.orders img {
  width: 70px;
  height: 70px;
  object-fit: contain;

  border-radius: 8px;
  border: 1px solid #fefefe;
  box-shadow: 2px 2px 4px -4px black;

  margin: 0 16px;
}

.orders .item  div:nth-child(2){
  display: flex;
  flex-direction: column;
}

.tem .title,
.item .price,
.item .updated-at {
  color: #555;
  margin-bottom: 4px;
}
.item .price,
.ordes .totals{
  font-weight: bold;
  padding-top: 8px;
}

.item .updated-at {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
}


.orders .status {
  justify-self: center;
  color: white;
  border-radius: 16px;
  padding: 4px 12px;

  font-size: 12px;
  text-transform: uppercase;
}

.orders .status.open{
  background-color: rgb(0, 195, 255);
}


.orders .status.sold{
  background-color: rgb(14, 216, 24);
}


.orders .status.canceled{
  background-color: tomato;
}