{% extends "layout.njk" %}

{% import 'parts/card.njk' as card %}


{% block content %}

{% call card.render('Editar Produtos ', 'container form  ') %}


        <form method="POST" action="/products?_method=PUT" enctype= "multipart/form-data">

           
            <div class="fields">
                {% include "products/fields.njk" %}
            </div>

            <button class="button edit"  type="submit">Actulaizar</button>
            <input type="hidden" name="id" value="{{product.id}}">
        </form>

        <form  id="form-delete"   action="/products?_method=DELETE" method="post"
        data-message ="Tem Certeza que dezeja
           deletar o Produto ? essa acção não poderá ser desfeita." 
           > 
  
            <button type="submit" class='button delete' > Deletar</button>
    
            <input type="hidden" name="id" value="{{product.id}}">

           
        </form>
        
    {% endcall %}

    {% endblock %}

