{% extends "layout.njk" %}

    {%block content %}

    <section class="container form ">

        <form method="POST" action="/products?_method=PUT" anctype= "multipart/form-data">

            <div class= "header">
                <h3> Editar Produtos {{productID}} </h3>
                 <input type="hidden" name="id" value= '{{product.id}}'>
            </div>


            <div class="fields">
                {% include "products/fields.njk" %}
            </div>

            <button class="button edit"  type="submit">Actulaizar</button>
        </form>

        <form  id="form-delete"   action="/products?_method=DELETE" method="post" >
  
            <button type="submit" class='button delete' > Deletar</button>
    
            <input type="hidden" name="id" value="{{product.id}}">

        </form>
        
    </section>


    {% endblock %}

