<div class="item">
    <div>Categoria</div>
    <select name="category_id" id="select">
        <option selected disabled>
        
        Escolher Categoria
       
        </option>
        {% for  category in categories %}
        <option value ="{{category.id}}" {% if product.category_id == category.id %} selected {% endif %}>
            {{category.name}}
        </option>

        {%endfor%}
    </select>
</div>


<div class="item">
    <div> Nome </div>
    <div>
        <input type="text" name="name" placeholder="Digite o Titulo do Anúncio" value = "{{product.name}} " />
    </div>
</div>

<div class="item">
    <div> Descrição</div>
    <div>
        <textarea name="description"  >{{product.description}}</textarea>
    </div>
</div>

<div class="item">
    <div>Photo</div>
    <div>
        <div id="photos-uploads">
            <input
             type="file"
             name="photos"
            id="photos-input" 
             multiple
             accept="image/*"
            onchange ="PhotosUpload.FilesInput(event)"
            />
            <p> Selecione até 6 Fotos</p>
        </div>
        <div id="photos-priview">
            {% if files %}
                {% for image in files %}
                    <div class="photo" id="{{image.id}}">
                        <img src="{{image.src}}" alt="{{image.name}}" >
                        <i class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)"
                        >close</i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
   
</div>

<div class="item">

    <div>Valor</div>
    <div>
        <input type="text" 
        name="price" 
        placeholder="Preço do Produto"
        value="{{product.price}}"
        onkeydown = "Mask.apply(this, 'formtAOA')"
        >

        {%if product.old_price %}

        <input type="hidden"  value="{{old_price}}" />

        {%endif%}
    </div>
</div>


<div class="item">
    <div>Quantidade</div>
    <div>
        <input type="text" name="quantity" placeholder="Estoque Disponivel" value="{{product.quantity}}" />
    </div>
</div>

{%if product.quantity != 0 %}

    <div class="item">

    <div>Disponivel ?</div>

    <div>

        <span>
            <input type="radio" name="status" value="1" {% if product.status == '1'  %} checked {% endif %}> Sim
        </span>

        <span>
            <input type="radio" name="status" value="0" {% if product.status == '0' %} checked {% endif %}> Não
        </span>

    </div>
    </div>

      

 {%endif%}
