

/*config to start */

@font-face{
  font-family: "Roboto";
  src: url('./Roboto-Regular.ttf') 
}
/*MaterialIcons-Regular.ttf */


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('./MaterialIcons-Regular.woff2') format('woff2'),
    url('./MaterialIcons-Regular.woff') format('woff'),
    url('./MaterialIcons-Regular.ttf') format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root{
  --primary-color : #fd951f;
  --color-body : #faf6f6;
  --secundary-color : rgb(0, 225, 255); 
}
 
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: none;
}



html,body{
  height: 100%;
  font-family: "Roboto";
  background: var(--color-body);

}

.container{
  width:90%;
  max-width: 940px;
  margin: 0 auto;
}



/*App*/


/* HEADER */
header  > div , footer {
  width: 100%;
  text-align: center;
  padding: 32px 0;
  background: black;
  color: white;
}


/*HEADER - CONTAINER */
header .container {
  display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding: 2%;
}

/* HEADER */

header .container a {
  justify-self: start;
}




/* LOGO */
header .container h1 {
  color: white;
  font-size: 36px;
  line-height: 36px;
}


header .container h2{
  color: var(--primary-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}


/* HEADER SEARCH */

.search  input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}


nav .primary  ul{
  display: flex;
  justify-content: space-between;
  
}

nav .primary  ul li a {
  color: white;
  display: flex;
  align-items: center;
}

nav .primary  ul li a i {
  margin-right: 8px;
}





/*FORM*/


section.form {
  background: white;
  padding:32px 24px;
  margin: 32px auto;
  box-shadow: 2px 2px 2px -4px rgba(60,60,60, .5);
  border: 1px solid #efeefe;
  border-radius: 4px;
  width: 90%;
  max-width: 700px;
  
}

/*header form*/

section.form .header h3 {
  font-size: 14px;
  line-height:24px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 14px;
}


form .item {
  margin-bottom: 16px;

}

form .item  > div:nth-of-type(1){
  color: #777777;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}


form .item input[type=text],
form .item input[type=number],
form .item textarea,
form .item select {
  width: 100%;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px -4px rgba(60,60,60, .5);
  font-size: 16px;
  border-radius: 4px;
  border:1px solid #efeefe;
 
}


form .item  select {
  background: linear-gradient(to bottom , #ffffff  0%, #e5e5e5 100%);
}

textarea{
  min-height: 126px;
}



.item span {
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 12px !important;
  font-weight: bold;
  padding: 8px 16px;
  margin-right: 4px;
  text-transform: uppercase;
  border-radius: 16px;
  margin-top: 8px;
  letter-spacing: 0.8px;
  color:white !important;
  border-top-left-radius: 0px;
}

input[type=radio]{
  cursor: pointer;
}

/*buttom  global*/




.button{
  background: var(--primary-color);
  color: white;
  width: 100%;
  display: block;
  margin: 16px 0;
  border-radius: 4px;
  font-weight:bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 16px 0;


  /*para colocar o botao para baixo com grid*/


  
  align-self: end;


}

.button:hover{
  background-color: #bb6a0d;
}

form .edit {
  background-color: rgb(44, 73, 236);
  transition: all 100ms ease-in;
}

form  .edit:hover{
  background-color: rgb(4, 13, 65);
}

form .delete {
  background-color: grey;
  transition: all 100ms ease-in;

}

form .delete:hover{
  background-color: rgb(228, 23, 23);

}

/*PHOTOS UPLOAD */


form .item #photos-uploads{
  position: relative;
  display: block;
  width: 200px;
  overflow: hidden;
  margin: 20px 0;
}

form .item #photos-uploads p {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background: rgb(44, 73, 236);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  font-weight: 600;

  
  
}


form .item #photos-input{ 
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  opacity:0 ;
  cursor: pointer;
  overflow: hidden;

}


form .item #photos-priview{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  width: 100%;
  margin: 8px 0;
}

form .item #photos-priview img {
  cursor: pointer;
  width: 100%;
  height:150px;
  object-fit: cover;
}




form .item  #photos-priview  .photo {
  position: relative;
}
form .item  #photos-priview  .photo > i {
  position: absolute;
  left: 0;
  top: 0;

  width:100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.685);
  color: red;
  font-size: 500%;
  cursor: pointer;

  
  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  transition: opacity  200ms ;
  
}


form .item  #photos-priview .photo:hover i {
  opacity: 1;
}