
<div class="item">
    <div>Nome Completo </div>
    <div>
        <input type="text" 
        name="name"
        attr = "Nome" 
        placeholder="Digite seu Nome Completo"
        value = "{{user.name}}"
        />
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input type="email" 
        name="email" 
        attr = "E-mail" 
        placeholder="Digite seu E-mail "
        value = "{{user.email}} "
        onblur = "validate.apply(this, 'isEmail')"
       
        />
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div>
        <input type="password" 
        name="password" 
        attr = "Senha" 
        {% if not user.id %} 
            placeholder="Digite uma senha segura"  
        {% else%}
             placeholder="Digite sua senha para actualizar"  
         {%endif%} 
        />
    </div>
</div>

{% if not user.id %}

<div class="item">
    <div>Repetir a Senha</div>
    <div>
        <input type="password" 
        name="passwordRepeat" 
        attr = "Repetir Senha" 
        placeholder="Ripita a Senha"
        />
    </div>
</div>
{% endif %}


<div class="item">
    <div>CPF ou  CNPJ</div>
    <div>
        <input type="text" 
        name="cpf_cnpj" 
        attr = "Cpf ou Cnpj" 
        placeholder="Digite seu CPF ou CNPJ"
        value = "{{ user.cpf_cnpj }}"
        onkeydown = "Mask.apply(this, 'cpfCnpj')"
        onblur = "validate.apply(this, 'isCpfCnpj')"
        />
    </div>
</div>


<div class="item">
    <div>CEP</div>
    <div>
        <input type="text" 
        name="cep" 
        attr = "Cep" 
        placeholder="99999-999"
        value = "{{user.cep}} "
        onkeydown = "Mask.apply(this, 'cep')"
        onblur = "validate.apply(this, 'isCep')"

        />
    </div>
</div>

<div class="item">
    <div>Endereço Completo</div>
    <div>
        <input type="text" 
        name="address" 
        attr = "Endereço" 
        placeholder="Digite seu Endereço Completo"
        value = "{{user.address}} "
        />
    </div>
</div>









