<header>
    <div class="container">
      <a href="/" >

        <div>
          <h1>Lounchstore</h1>
          <h2>COMPRA E VENDA </h2>
        </div>

      </a>

      <form class="search" action="/products/search" method="get">
        <input 
          type="text" 
          name="filter"
          placeholdfer = "buscar por Produtos"

           {%if search.term %}
            value = {{search.term}}
          {% endif %}
         >
      </form>

      <nav>
        <div class="primary">
          <ul>
          <li>
            <a href="/products/create">
               <i class="material-icons">add</i>
               Novo Anúcio
            </a>
          </li>

          <li class="accounts">
            <a href="/users/register">
              <i class="material-icons">account_circle</i>
              Minha conta
            </a>

            {% if user %}
               <ul class="submenu">
              <li>
                <a href="/users">Configurações</a>
              </li>
              <li>
                <a href="/carrinho">Meus pedidos</a>
              </li>
              <li>
                <a href="/buying">Minhas vendas</a>
              </li>
              <li>
                <form  action="/users/logout" method="POST" >
                  <button class="button">Sair</button>
                </form>
              </li>
            </ul>
            {% endif %}
          </li>
        </ul>
        </div>
      </nav> 
    </div>
  </header>