<header>
    <div class="container">
      <a href="/" >

        <div>
          <h1>Lounchstore</h1>
          <h2>COMPRA E VENDA </h2>
        </div>

      </a>

      <form class="search" action="/products/search" method="get">
        <input 
          type="text" 
          name="filter"
          placeholdfer = "buscar por Produtos"

           {%if search.term %}
            value = "{{search.term}}"
          {% endif %}
         >
      </form>

      <nav>
        <div class="primary">
          <ul>
          <li>
            <a href="/products/create">
               <i class="material-icons">add</i>
               Novo Anúcio
            </a>
          </li>

          <li class="accounts">
            <a   href="/users/login" >
              <i class="material-icons">account_circle</i>
              Minha conta
            </a>

            {% if  session.userId %}

               <ul class="submenu">
               
              <li>
                <a href="/users">Minha conta</a>
              </li>
              <li>
                <a href="/users/ads">Meus Anúcios</a>
              </li>
              
              <li>
                <form  action="/users/logout" method="post" >
                  <button class="button">Sair</button>
                </form>
              </li>
            </ul>
            {% endif %}
          </li>

          <li class="cart" >
            <a href="/cart">
              <i class="material-icons">shopping_cart</i>
              {% if (session.cart) and (session.cart.total.quantity > 0) %}
                <span id= " cart-status-info"> {{session.cart.total.quantity}}</span>                
              {% endif %}
            </a>
          </li>
        </ul>
        </div>
      </nav> 
    </div>
  </header>